/*
  Shreeya Champaneri
  January 21, 2022
  Mario Summative Game
  This page styles the PLAY button and music button on the startGame screen.
*/
.play{
  position: absolute;
  left: 43%;
  top: 48%;
  font-size:60px;
  font-family:monospace;
  padding:30px;
  background-color: white; 
  color: black; 
  border: none;
  transition-duration: 0.5s;
  cursor: pointer;
}

.play:hover{
  background-color: rgb(255, 74, 74);
}

#icon{
  cursor:pointer;
  color:white;
  width:100px;
  height:100px;
  position: absolute;
  left: 46.5%;
  top: 73%;
}